{
  "presets": ["@babel/preset-env", { "exclude": ["proposal-dynamic-import"] }],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "wildcard",
    "wildcard-import",
    "transform-decorators-legacy"
  ]
}
