<link id="global-styles" rel="stylesheet" href="../css/style.css">
<to-do-hero></to-do-hero>
<div class="landpage-content">
  <aside class="box sidebar">
    <h1>ToDo-List</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam eos architecto fugiat hic, nobis mollitia
      ipsum sequi laudantium, tenetur molestiae dicta quasi error, id esse corporis soluta deleniti quis similique.
    </p>
  </aside>
  <section class="box content">
    <article>
      <h2>Idea de Simulacro</h2>
      <p>El proyecto final será un TO-DO list. De momento no llegué al DOM, pero igual en la consigna se especifica
        por
        prompt o alert o consola.</p>
      <p>Igual este finde se pone heavy esto... tengo que pasar todo a DOM...</p>
      <p>Lo que en la entrega anterior era lista de compras lo migré a lista de tareas tipo to-do list, y ya fui
        arreglando un poco y poniendo funciones de orden superior en esta primera parte de entrega.</p>
    </article>
    <article>
      <h2>Idea de Simulacro</h2>
      <p>El proyecto final será un TO-DO list. De momento no llegué al DOM, pero igual en la consigna se especifica
        por
        prompt o alert o consola.</p>
      <p>Igual este finde se pone heavy esto... tengo que pasar todo a DOM...</p>
      <p>Lo que en la entrega anterior era lista de compras lo migré a lista de tareas tipo to-do list, y ya fui
        arreglando un poco y poniendo funciones de orden superior en esta primera parte de entrega.</p>
    </article>
  </section>
</div>